# flyctl launch added from .gitignore
# dotenv environment variable files
**/.env
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env.local

# Fresh build directory
**/_fresh
# npm + other dependencies
**/node_modules
**/vendor

**/*.parquet
images
cache
migrations
.github
.idea
.vscode

**/venv

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests
# Datasource local storage ignored files
.idea/dataSources
.idea/dataSources.local.xml

# flyctl launch added from node_modules/.deno/tailwindcss@3.4.17/node_modules/tailwindcss/stubs/.gitignore
!node_modules/.deno/tailwindcss@3.4.17/node_modules/tailwindcss/stubs/**/*
fly.toml
