#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "audiobook-covers"
primary_region = "iad"

[build]

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = "suspend"
auto_start_machines = true
min_machines_running = 0
processes = ["web"]

[http_service.concurrency]
type = "requests"
soft_limit = 100
hard_limit = 250

[[http_service.checks]]
grace_period = "6s"
interval = "30s"
method = "GET"
timeout = "5s"
path = "/api/heartbeat"

[[services]]
processes = ["clip"]
internal_port = 8000
protocol = "tcp"
auto_start_machines = true
auto_stop_machines = "suspend"
min_machines_running = 0
[[services.ports]]
port = 8000
concurrency = {type = "requests", soft_limit = 50, hard_limit = 100 }

[[vm]]
processes = ["web"]
cpus = 1
memory = "256mb"
cpu_kind = "shared"

[[vm]]
processes = ["clip"]
cpus = 1
memory = "2gb"
cpu_kind = "performance"

[env]
NODE_ENV = "production"
ROARR_LOG = "true"

[processes]
web = "node /app/.output/server/index.mjs"
clip = "/app/clip_server/.venv/bin/fastapi run /app/clip_server/main.py"

[deploy]
strategy = "immediate"
