.fira-code {
  font-family: "Fira Code", monospace;
  font-feature-settings: "liga" 1, "calt" 1;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #222;
  color: #fff;
}

header {
  display: flex;
  /* Make the header a flex container */
  flex-direction: column;
  /* Stack children vertically */
  align-items: center;
  /* Center items horizontally */
  justify-content: space-between;
  /* Distribute space between children */
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

h1 {
  margin-bottom: 10px;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1; /* Places the input behind the label */
}





/* Hide download selectors when not in use */
main > #download_selection_window {
  visibility: hidden;
}

/* Show download selectors when needed */
.back > #download_selection_window {
  visibility: visible;
}

#download_size_selection {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
}

#download_format_selection {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
}

input[type="radio"]:checked + .radio_pill {
  background-color: #4caf50;
}

input[type="radio"]:disabled + .radio_pill {
  background-color: #af7d4c;
}

.radio_pill {
  background-color: #606060;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1.2rem;
  margin: 1em 0.5em 0;
  padding: 0.5em;
  text-align: center;
}

#download_selection_window {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#download_button_container {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

#download_options_container {
  width: 100%;
  padding: 0 0.5em 0;
  box-sizing: border-box;
}

#download_button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-size: 2rem;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 2em;
}







/* Navigation bar styles */
nav {
  align-self: stretch; /* Stretch nav to fit the width of the header */
  text-align: center; /* Center the links */
  background-color: #3e8e41; /* Slightly darker green for visual separation */
  padding: 0.5rem 0; /* Add some padding */
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0 15px; /* Add horizontal padding */
  line-height: 2; /* Increase line height for vertical spacing */
  display: inline; /* Display links in a line */
}

/* Main content styles */
main {
  padding: 2rem;
}






/* Search container styles */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.search-field-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  width: 80%;
  max-width: 500px;
}

/* Search input styles */
#search-input {
  width: 100%;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 25px;
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

#search-input:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Search button styles */
#search-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

#search-btn:hover {
  transform: scale(1.1);
}

/* Results wrapper styles */
.results-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Cover container styles */
.result_container {
  max-width: 400px;
  max-height: 400px;
  width: 80vw;
  height: 80vw;
  margin: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.result_container:hover {
  transform: scale(1.05);
}

.card {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #333;
}

.can_be_flipped.flipped {
  transform: rotateY(180deg);
}

.back {
  transform: rotateY(180deg);
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
}

.rounded {
  border-radius: 25px;
}

.fill_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}






/* Corner Icons */
.corner_top_left {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 20%;
  height: 20%;
}

.corner_top_right {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20%;
  height: 20%;
}

.corner_bottom_left {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 20%;
  height: 20%;
}

.corner_bottom_right {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 20%;
  height: 20%;
}







/* Media queries for responsive design */
/* @media screen and (max-width: 600px) {
  .result_container {
    width: 90%;
    height: auto;
    margin: 0.5rem 0;
  }
} */




/* Search type wrapper styles */
.search-type-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.search-type-label {
  margin: 0.5rem;
}

.search-type-input {
  display: none;
}

.search-type-pill {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  background-color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-type-input:checked + .search-type-pill {
  background-color: #4caf50;
  transform: scale(1.1);
}

/* Add this rule to remove the outline when the input is focused */
.search-type-input:focus + .search-type-pill {
  outline: none;
}
