# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Fly Deploy
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: Deploy production website
    runs-on: ubuntu-latest
    concurrency: fly-deploy
    steps:
      - uses: actions/checkout@v4
      - uses: 1password/install-cli-action@v1
      - uses: 1password/load-secrets-action@v3
        id: load_secrets
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          FLY_API_TOKEN: op://xdpqq36uuedlgindu4gaiwdify/3iaglpb6neh6ybhl54uvj5oioi/Github Deploy Token
      - uses: taiki-e/install-action@v2
        with:
          tool: just
      - run: |
          PGSchema_VERSION=$(curl -s https://api.github.com/repos/pgschema/pgschema/releases/latest | grep '"tag_name":' | sed -E 's/.*"([^"]+)".*/\1/')
          VERSION=${PGSchema_VERSION#v}
          curl -LO https://github.com/pgschema/pgschema/releases/download/${PGSchema_VERSION}/pgschema_${VERSION}_amd64.deb
          sudo dpkg -i pgschema_${VERSION}_amd64.deb || sudo apt-get install -f -y
      - run: sudo apt-get update && sudo apt-get install -y postgresql-client
      - run: just prod_db_migrate_force
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only --config fly-prod.toml
        env:
          FLY_API_TOKEN: ${{ steps.load_secrets.outputs.FLY_API_TOKEN }}
          LOG_LEVEL: debug
