# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Fly Deploy
on:
  push:
    branches:
      - dev
jobs:
  deploy:
    name: Deploy development website
    runs-on: ubuntu-latest
    concurrency: fly-deploy
    steps:
      - uses: actions/checkout@v4
      - uses: 1password/load-secrets-action@v3
        id: load_secrets
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          FLY_API_TOKEN: op://xdpqq36uuedlgindu4gaiwdify/uszxjrl64y37urhuvr2ugjsd6u/Github Deploy Token
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ steps.load_secrets.outputs.FLY_API_TOKEN }}
          LOG_LEVEL: debug
